/**
 * Common
 */
.overlay {
    position: fixed;
    display: none;
    background-color: #000;
    opacity  : 0.5;
}

.modal-window {
    border: 2px solid #D04255;
    background-color: #FFF;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform : translate(-50%, -50%);
    transform : translate(-50%, -50%);
}

.modal-msg {
    text-align: center;
}

.img_block img{
    display: block;
    margin:auto;
}

.ui-footer {
    background: #000;
}
/**
 * Page1
 */
#page1 {
    position: relative;
}

/* Header */

/* Content */

/* Footer */
#acquired-item {
    width: 100%;
    height: 100%;
}

#acquired-item li {
    display: inline-block;
}
#acquired-item img {
    width: 40px;
    height: 40px;
}

/* 背景あり
#acquired-box {
    width: 100%;
    height: 50px;
    position: relative;
}

#acquired-item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}
*/

/* Other */
#stamp-rally-overlay {
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#coupon-window {
    width: 200px;
    height: 200px;
    z-index: 1001;
}

#coupon-img {
    width: 100px;
    height: 100px;
}

#coupon-window-close {
    z-index: 1001;
}

button:hover {
    background: #D04255;
    color: #FFF;
}

